body{
    margin : 0;
    color : white;
}
#hashtag-header{
    background-color: rgb(70, 138, 247);
    background-image: url('/images/background.png');
    background-size: 20%;
    background-repeat :no-repeat;
    background-position-x: 100%;
    background-position-y: -50px;
    padding: 80px;
}
#hashtag-header img{
    width : 2rem;
    border-radius : 50%;
    border : 2px solid white;
    vertical-align : middle;
    margin-right : -9px;
}
#hashtag-header h1{
    margin : 0;
}


